= f.fields_for :office_addresses do  |p|
  .form-group
    .cols-sm-10
      .input-group
        = p.text_area :branch_address, autofocus: true,  :class => "form-control form-width", :placeholder => "Registered office Address"
  .form-group.select_state
    .cols-sm-10
      .input-group
        = select_tag(:state, options_for_select(State.collect_state), prompt: "State", class: "selectpicker form-width", "data-live-search": "true")

  .form-group
    .cols-sm-10
      .input-group
        = p.text_field :telephone_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Telephone No"
        %br/

