

.index-content
 = link_to "Company-Profile", new_company_profile_path
 %br
 = link_to "Sales-Configuration", new_sales_configuration_path
 %br
 = link_to "Customer-Details", new_customer_detail_path
 %br
