= fields_for sales_configuration do |f|
  = f.fields_for :service_tax do |t|
    .form-group
      .cols-sm-10
        .input-group
          = t.text_field :service_tax_reg_no, autofocus: true, :class => "form-control form-width", :placeholder => "Service Tax Register Number"
