\.container
\%form.form.form-inline{:role => "form"}
\%legend Form legend
\.form-group.col-xs-12.col-sm-6.col-lg-3
\%label.col-xs-4{:for => "InputFieldA"} Field A
\.col-xs-8
\%input#InputFieldA.form-control{:placeholder => "InputFieldA", :type => "text"}/
\.form-group.col-xs-12.col-sm-6.col-lg-3
\%label.col-xs-4{:for => "InputFieldB"} Field B
\.col-xs-8
\%input#InputFieldB.form-control{:placeholder => "InputFieldB", :type => "text"}/
\.form-group.col-xs-12.col-sm-6.col-lg-3
\%label.col-xs-4{:for => "InputFieldC"} Field C
\.col-xs-8
\%input#InputFieldC.form-control{:placeholder => "InputFieldC", :type => "text"}/
\.form-group.col-xs-12.col-sm-6.col-lg-3
\%button.btn.btn-default.col-xs-8.col-xs-offset-4{:type => "submit"} Submit Button
